@model Sidebar.ViewModel

<div class="user-panel">
	<div class="pull-left image">
		<img src="@Model.UserImageUrl" class="@Model.UserImageCssClass" alt="User Image">
	</div>
	<div class="pull-left info">
		<p>@Model.Name</p>
		<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
	</div>
</div>
<form action="#" method="get" class="sidebar-form">
	<div class="input-group">
		<input type="text" name="q" class="form-control" placeholder="Search...">
		<span class="input-group-btn">
			<button type="submit" name="search" id="search-btn" class="btn btn-flat">
				<i class="fa fa-search"></i>
			</button>
		</span>
	</div>
</form>
<ul class="sidebar-menu">
	<li class="header">@Model.NavigationHeaderTitle</li>
	@await Component.InvokeAsync("Navigation")
</ul>